@import "tailwindcss";

@theme {
  --font-outfit: var(--font-outfit);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-neo-main: var(--neo-main);
  --color-neo-accent: var(--neo-accent);
  --color-neo-border: var(--neo-border);
  --color-neo-shadow: var(--neo-shadow);
}

:root {
  --background: #fdfdfd;
  --foreground: #000000;

  /* Neo Brutalism Palette */
  --neo-main: #2A2A2A;
  /* Dark Grey for primary elements */
  --neo-accent: #FF5E5E;
  /* Vibrant Red for accents */
  --neo-border: #000000;
  /* Pure Black for borders */
  --neo-shadow: #000000;
  /* Pure Black for shadows */

  --font-outfit: 'Outfit', sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground font-outfit antialiased selection:bg-neo-accent selection:text-white;
  }
}

@layer Utilities {
  .neo-shadow {
    box-shadow: 4px 4px 0px 0px var(--neo-shadow);
  }

  .neo-shadow-lg {
    box-shadow: 8px 8px 0px 0px var(--neo-shadow);
  }

  .neo-border {
    border: 2px solid var(--neo-border);
  }

  .neo-input {
    @apply w-full px-4 py-3 bg-white outline-none transition-all duration-200;
    border: 2px solid var(--neo-border);
  }

  .neo-input:focus {
    box-shadow: 4px 4px 0px 0px var(--neo-shadow);
  }

  .neo-btn {
    @apply px-6 py-3 font-bold bg-white text-black transition-all cursor-pointer;
    border: 2px solid var(--neo-border);
  }

  .neo-btn:hover {
    box-shadow: 4px 4px 0px 0px var(--neo-shadow);
  }

  .neo-btn:active {
    transform: translate(2px, 2px);
    box-shadow: none;
  }

  .text-stroke-1 {
    -webkit-text-stroke: 1px var(--neo-border);
  }

  .text-stroke-2 {
    -webkit-text-stroke: 2px var(--neo-border);
  }

  .text-stroke-white {
    -webkit-text-stroke-color: white;
  }
}